
.blues{
    color: #fff;
    background-color: #02a7bd;
    border-color: #02a7bd;
}
.nav-link:focus, .nav-link:hover, .nav-link:active {
    background-color: #008fa4;
    text-decoration: none;
    border-radius: 15px;
}

.colorOne{
    color:#917d70;
}

.orange{
    background-color: #f1891b;
    color:#ffffff;
}
.orange1{
    background-color: #fff;
    color:#f1891b;
    
}
.footers{
    background-color: #ffffff!important;
    color:#d1d3e2;
}
.bg-white {
    background-color: #ffffff!important;
    
/*    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: #ea9841;*/
    
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    display: block;
    color: #ffffff;
    text-decoration: none;
    border-radius: .35rem;
    white-space: nowrap;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item:hover, .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
    background-color: #9251da;
}
.letrablanca{
	color:#ffffff;	
}
.gradient {
 background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../img/Login/features-bg1.jpg);
 
 background-size: cover;
   
}
.barraderecha{
        
    background-color:#d4cec7;
}
#addEvaluador {
	display: none;
} 
select {
    -webkit-appearance: none;
}

