<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Company</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Company</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Project</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Project</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Users</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activity</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Activity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivityAprendiz</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.ActivityAprendiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Evaluador</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.Evaluador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>interventor</servlet-name>
        <servlet-class>co.edu.sena.savpro.controller.servlet.interventor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Company</servlet-name>
        <url-pattern>/Companys</url-pattern>
        <url-pattern>/Company</url-pattern>
        <url-pattern>/EditCompany</url-pattern>
        <url-pattern>/DelCompany</url-pattern>
        <url-pattern>/AddCompany</url-pattern>
        <url-pattern>/SearchCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin</servlet-name>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Project</servlet-name>
        <url-pattern>/Projects</url-pattern>
        <url-pattern>/SeeProject</url-pattern>
        <url-pattern>/edithProject</url-pattern>
        <url-pattern>/NewProject</url-pattern>
        <url-pattern>/AddProject</url-pattern>
        <url-pattern>/DeleteProject</url-pattern>
        <url-pattern>/SaveProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>/Users</url-pattern>
        <url-pattern>/AddUser</url-pattern>
        <url-pattern>/NewUser</url-pattern>
        <url-pattern>/DelUser</url-pattern>
        <url-pattern>/loadUser</url-pattern>
        <url-pattern>/SaveUser</url-pattern>
        <url-pattern>/ListUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activity</servlet-name>
        <url-pattern>/Activitys</url-pattern>
        <url-pattern>/AddActivity</url-pattern>
        <url-pattern>/NewActivity</url-pattern>
        <url-pattern>/DelActivity</url-pattern>
        <url-pattern>/EditActivity</url-pattern>
        <url-pattern>/UpdateActivity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/Error500</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/Error500</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error500</url-pattern>
        <url-pattern>/Error</url-pattern>
        <url-pattern>/Error404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivityAprendiz</servlet-name>
        <url-pattern>/ActivityAprendiz</url-pattern>
        <url-pattern>/GradeActivity</url-pattern>
        <url-pattern>/AddActivityE</url-pattern>
        <url-pattern>/GradeActivitys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evaluador</servlet-name>
        <url-pattern>/Evaluatordetails</url-pattern>
        <url-pattern>/Evaluators</url-pattern>
        <url-pattern>/EvaluatorProject</url-pattern>
        <url-pattern>/EvaluatorAlls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>interventor</servlet-name>
        <url-pattern>/interventors</url-pattern>
        <url-pattern>/listIntervertors</url-pattern>
        <url-pattern>/searchInterventor</url-pattern>
        <url-pattern>/deleteInterventor</url-pattern>
        <url-pattern>/formInterventor</url-pattern>
        <url-pattern>/formEditInterventor</url-pattern>
        <url-pattern>/updateInterventor</url-pattern>
        <url-pattern>/addInterventor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
